#drop-area {
    border: 4px dashed #cccccc;
    border-radius: 20px;
    width: 100%;
    align-self: center;
    padding: 2vw;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 25pt;
    color: #cccccc;
    max-height: 10vh;
}
#drop-area.highlight {
    border-color: purple;
}

#folder-structure {
    width: fit-content;
    display: flex;
    justify-content: space-between;
}

.cell {
    display: flex;
    flex-direction: row;
    width:10vw;
    max-width:10vw;
    height: 5vh;
    padding: 1vw;
}

.column {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: 0.5vw;
}

img {
    width: 3vw;
    vertical-align:middle;
    margin-right: 5%;
}

#relations {
    top:0;
    left:0;
    position: absolute;
    width: 100%;
    height: 100%;
}
#folder-structure {
    position: relative;
}

.linea {
    stroke: black;
    stroke-width: 2;
}
.cell > p {
    align-self: center;
    text-align: justify;
    text-wrap: wrap;
    padding-right: 0.5vw;

}

#final-result {
    display: none;
}

h1, h2 {
    align-self: center;
    color:  #f5ebeb;
    font-family:'Courier New', Courier, monospace;
    letter-spacing: 0.2em;
    font-size: 30pt;
}

#main-content {
    position: relative;

    background: linear-gradient(135deg, #f5ebeb, #cfc3c3);
    box-shadow: 0 4px 8px rgba(247, 239, 239, 0.377);
    border-radius: 10px;
    padding:  1vw 3vw 3vw 0;
    margin: 1vw 0;
}
#options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 40vh;
    padding-bottom: 5vh;
}

#options label {
    margin-bottom: 2vh;
    font-family: 'Courier New', Courier, monospace;
    color: #e1e1e1;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
}

.text-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
    color: #d3c2c2;
}

.text-label > input {
    margin-top: 1vh;
}


#interactive-area {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    width: fit-content;
    padding: 0 5vw 5vw;
    background: linear-gradient(135deg, #242121, #312d2d);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    min-width: 90vw;
    background: linear-gradient(135deg, #504a4a, #383636);
    padding: 0;
    margin: 0;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    font-size: 16px;
}

#final-interface {
    margin: 1vw;
    display: flex;
    justify-content: space-around;
    
    align-self: center;
}

button {
    font-size: 20pt;
    border-radius: 10px;
    background: linear-gradient(135deg, #d5bebe, #c3c2c2);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: transform  0.5s;
}

button:hover {
    transform: scale(1.1)
}