#drop-area {
    border: 2px dashed #cccccc;
    border-radius: 20px;
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #cccccc;
    max-height: 10vh;
}
#drop-area.highlight {
    border-color: purple;
}

#folder-structure {
    width: fit-content;
    display: flex;
    justify-content: space-between;
}

.cell {
    display: flex;
    flex-direction: row;
    width:10vw;
    height: 5vh;

}

.column {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: 2vw;
}

img {
    width: 3vw;
    vertical-align:middle;
}

#relations {
    top: 0;
    left: 0;
    position: absolute;
    height: inherit;
    width: inherit;
}
#folder-structure {
    position: relative;
}

.linea {
    stroke: black;
    stroke-width: 2;
}

#main-content {
    position: relative;
    height: 100%;
    width: 100%;
}